
@media(max-width:760px){
  .hero{
    min-height:128vw!important;
    background-image:linear-gradient(90deg,rgba(0,0,0,.44) 0%,rgba(0,0,0,.12) 48%,rgba(0,0,0,.02) 100%),url("assets/image-c2f858f45292.jpg")!important;
    background-size:cover!important;
    background-position:center top!important;
    filter:none!important;
  }
}
